body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
	background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8PEBAPDw0NDg8PDw0NDQ0NDQ8NDw0NFREWFhURFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OFRAPFSsdFR0rKystKy0rLS0tKysrKy0tLS0tKysrKysrLS0rLS0tLSstKy0rLS0tKy0rKystNzctK//AABEIALcBEwMBIgACEQEDEQH/xAAbAAADAQEBAQEAAAAAAAAAAAAAAQIDBAUGB//EADYQAAICAQIEAwcDAwMFAAAAAAABAhEDITESQVFhBHGBBRMiMpGh8LHB0SPh8UJSsgYUNHKC/8QAGAEAAwEBAAAAAAAAAAAAAAAAAAECAwT/xAAiEQEBAAICAwABBQAAAAAAAAAAAQIRITEDEkFRIjJhcYH/2gAMAwEAAhEDEQA/APw0YFJFaIqGkADB2FCHYyNA5Etgg2NGi+J1XK7ruQXBc2VCrohicUnJNcSuN7NdV1OzDlyYqnCeSEpWozxzcGlzVo48fV7LZdwlLudGN1GOU3XS/EaXdzb1clbfezbw/j5xlGS4eKO0q+L1fP1PPiu6NbpO1d9HqipnU3GO3xHtKeSUpSkotr/ZFrTWkkvhu3t1Z6PgM8sTxZJZf6de8UljjLk1UuL/AI8XofNTavRvno1VG2LPKOka1+aMlxRfdx2fqKeT8nfG+x/6d8PDLN5IShKUl7ySjKeOMZ83JvSPXVJ66OrNfaWXxUm28WXhxt45Swf1sORptqShaeP5Xt07HzHhH7uDdtPaLi+GUerTK8N7SyYrcM+aLvdO20trt/Y23qRl3a9DN7UxTk/f4J44qNcOJY3xN7ybnTvprfK979P2V4zDjxKSx5pY+KM8OWWTHHPBppSafA1G/jaXHzavVnzntL2ms2KKyYcDzxl/5GNLFLJBp2skYUpSTSqT6vR3aPBZ44+F43JfK2pcDTkuzTpa9/2UzLdVcdR+m+A8Z7N9yskcmbw+SSlajOcHPLpa+HRd/PfQpzwKPEvG43FvghH3soyqKrV5OWl8vNny/wD381iglKMlBpwSw+701bvgTT3e3U7fD+1Z0+H2ZgldJyx5uGKjpacI1d9ZXLuaarnlle5Hw+HLjxvTDLK5JSw+LhBydf6uF0+a17nxvjvY2f3zlN5GoScG1DFilz01nS2f38jo9r5XJ3LwnhsSWR3hisiy20r1VtbX0+LmtF834ifurkorV/K8s9OesOmvPoK8TdXhN3h9Z7B9if1LyYlDglH43Dw2XElrfFUqbdx3007muOS8Hllw+Owrjg244PdwlGXHSxSljSptc6ildanxGLx95eJuWNO7WDSruqTe10t9j0H4tcTcKjJcLjJqCcvPidL0HjZZ2MsbK+r8bjx+LxSm8kMmXHjUGuLwmLLkxJfNxuSbrrps9GfNYfDTlGTpQUFGShDPjyRc9VpTq/Pe+Z2YYOcop+Li1OK94p+JhGMW38vNc+lHle0s3DOUHPEoxuKWKNqUW74k1H13HePpY23jTul4NVwRyK8kalH32ODlJpOnwSceb0u9Dy8nh5wycL8Rwy3ko5cuSUX0qKWvrXc5ZLGno5varioWnztvRD8XPjSqLVJJK1JJd9NTO3ca4zVLNkb+b3ada3Jt9XerbZyPI7+GpV0g2voxx4Y63b2pWtepjlnrvo+V7GOWTbHFtKPEnom75aavuznyYX6dtr6dyW+4273e227oztl7XJYj1j9P7AKvMDLdWgYgRBgaBA2MCxNiGhbAHYhpDComkdfIzRpdKjTFFVKRKJGit7LTSJnknY5ypUZIWWXwYz60xG+FNvrZjFnX4Ja3S0L8c3ZE+S6lrp8XKqjXyrl1OOT8ys07beupkn+amueW6zxx1GWZ6ndilSSv7JnCtZevY9BN3FX+5Hi5tqvJ1I9WeZ0koQSdbQlHbuglkT3rTplr7Ucksmq+R+cf4L4o1tH0bX7Hbtx6bZMi4aeTRO6+OT9Gtjz/AGhljacXJaa6tr6P+TXLKNfKn/8AT/Q4PEzuK0qtNzLy5cNvFjycfES01+qizvy574ZO7qtYRSPGjL8pHoQy/BVy06RX8mfjz3tp5MOnXizKmuG+lze3PYrxeRTgpLEk0qbivu7uzljlWj+L1Ua/Q0xzVtfDUl3/AINt7mtsbjq7ckk2tpfR0KHO9F+/qGWNNr+TDja/yc9ury3k3BmhT0r7fyZehvPI2t39bOdy7/Yyy1vhrjvQXl+pX0/PUzbBMjatLtflAQAew0kVDYpGdUBDAQAAAAJFAVBcypCtUtPMlsUmCKtLRoqySZMN6Gtk2VEhFxJnZ1p2OxfDA48Kt2bZ57I6MLqWss5uyMpSCT0M1uObM7krR4Nzvg1xb7df8nn4tzeD3L8V1E+Sbdqlb6/nY3rTb9P3R50HqjdyOnHNz5YDxDWm33OSez8y889EZcW5hnlutsMdRnH80Zvhap7HKmbYpmWGXLTOcOhP8s0jJ1u9PMwU/IuMlex0SsrG3iJOSUr7Pc4pvudeOa1jqkznyc1+ovJzyMOOGSkRMbYm/wA0Oe1tEADEZrVYE2AbGj7CB9SpcmGgkChNBobFDSBDoeiEUOTBskfRAYkDYjDZDGxE2mpFCRUFqVCrfGqM8stS+LQ55M0yuppGM52qBEi+RmRfwuN8ZcdmZx2Lb0NMemdaYnqbSZhiZrN6GuN4ZZTlhmeiM09Ssr0M0zHK8tpOESKiycm40Zzir+N0xtmcWVZtKzsaXsysmtMyi+RUJboqXfBaYSJNJozZjlw0hMQxMiqhAAEhUK5lJbp9RSXPk/15ivTv+xcugpb0VQsa1v8ALKcS5NxNZpFbFOPMhsWtDeyYIAJMNkgDFaZDQikIGjSJnFF2aYppzZkhzYok27pyahyYkEmCFex8aIeR7ErcMj1L3wX1riZpNmOMubNZeGdnLKbJHJkmNrSCZKKmSib2c6WmaWZIpMuUrFthZNhZW06XPqYyNUzOQsuTxShMAM1kAAIN3H4E/wAsygr067eZ0xjceFqt+HtqY41q+q28+hrljzEy9qwc+t/Y14SMT1S57X1N5I18c3izyvLCZnRrJENEZTapUEstkGdXCEAEGY0IaCBSAGKTL2lLGiSmTFJKRJSFAqG4SeoYxcyvifrSDHNkxCTNN8J1yhiBgZ1Z8iCiRU4pFIgpDhVQgBjI7CQgQwhghyJM6owEABvhyU6lqv0/sVOKuNbSX3/KIcLSaW/wvz5F41xRfWNOP8Gst6v9xN12uELUrSTUnquT8y3kTaXXpsRiya/+32lzHOFNS6V9DWX9O5/rOznk5xM5I1UXTd3rp5ESRVhSsJIhmsjNnPlGsQAxGajKQkNlQqCZMZIqcA2CEIAYhgFx2IRXIlFX4UWhtiQMeySwEBKjRLKExUAaJGAVYCAojQCBgDZLKJYqIQAAjb+HycL12/R8hY51LTbVeg5QcdHqnfo9kzOO65O+Ze7NT8FqXdbZMTWsb8lyfY3jK4qXLaXZjxTT81ur1Rbjvw8/mi9pf3OrHDXOP1jcvlZy+Fq9npf8kSNJ1S0058/RohQq2k+B6xvl1T/OQr3oRjMzaNpIzaMsouM6EW0KjLS9hCKYmASxDYEmBDYgAGIaAKlsShsSHexFAxAxkQABJgTGDAEAIBAxiAoGACAGDEMAQAAg6fexlvpT08uhnnik9Of09DE1xy/0vVPl0fVF+/txS9ddHjnVcV1ya3S7P9jthLRXbW1xrTvRxxaWj1i9n06/4NVj4dVKrScdfhfVM18eViMpK0lW6dq7dbP0+gN/fft3/kz4rveMvoDb0f55l+ydG1fZ/qZtF8Wy6/Rfmo3EVmx0wofCWojcSfU9smiWjZxIcSbicrKgo04Q4SPVW2bQqLaFQrD2kIjocULRpkCGwQAAMBkgYMCTAAAAgABA0AhjAAAAAAAYAAAAgEMk2ji3r9dVbfkVilWj0T6meg4za7ro+hcursrG/v1p9H2XY1nrppom+JPRru9rOSWPS1qvuvM0wN00nrWqeqa5eppjnd6qLjO4tLiXw72n0rzN8DXNrhdV2ZhjyRWruE7adL4X5r9jSGttVWrfS+b/ADoaYVOUaSw71vr8L3/uQomkV/u+vPbTzGo/nc10z2zcSHA6KDhC4lMnPwEuJ0uJnJE3E5k53EhxOlxIcTO4LmTBoEjRxDhJ9VezGhpF8I+En1PaKE0aUS0O4jbNiLaFRnpWyQiqCg0EiKaEToyGAAAAAAAAAAAAAEgACMDsQAFxk1t/k0jHitx0aWqRiNSa20HL+S0dtPmn97LUqfFH1T/joK01rvfzfyJVfRdVr6jn8B6kcnvLkm704k/tfbuPW3ejetdTzsUkpfN24ltvzvkdsfGpXGfxLlKNNebVnZh5ZZywy8d+NUOgi4uuCalzp8i+Hk7T/ORtOWNZtEuJulp189BOK5XfSh3EtufhJlE6KIlEm4qlc7iJxN+C9iZQI9Vezn4R8JrwCaJ9VbYtEtGzj1+hLiTcTlY0KjVqiaM7ivbOgaNGiWhWHtm0IpvzJpmdVCoB0AtGQAAgBDEAMBAAIAARgAAAAAABgAADOidxq6nFr4b6Xy5oALx+lfjXweOM5VHig18tu789PyzueWcE3LVJ69+/1GB1ePjC5fXP5P3SKx5oyp8n56mnDF7fXUAOjG8RjlxUZFW+7/T8TM5Lr2ryACqUKiJRACFIkq8xLsACUltLu+rErYAQpNIVABCkyM0712X6gBF7VOg0SxARTiWhABFWAABAhABJgAAFP//Z'); 
	background-size: no-repeat;
	background-position: center;
	background-size: cover;
	color: #ffffff; 
}

header {
    background:#1E2460;
    color: white;
    padding: 10px 0;
    text-align: center;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    display: flex; 
}

section {
    margin-bottom: 20px;
    flex: 2;
}

.image-container {
    flex-shrink: 0;
    width: 300px;
    margin-left: 20px;
	border: 4px solid #191970;
}

footer {
    text-align: center;
    padding: 30px 0;
    background: #6495ED;
    color: white;
}
.btn {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
	width: 135px;
    height: 70px;
	font-size: 24px;
	margin: 0 auto;
	display:block;
}

.btn:hover {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}
#secnd-content {
	display:none;
}
.text_m {
  color:#7FFFD4;
  font-size: 125%;
}
.text_n {
  color:#7FFFD4;
  font-size: 125%;
  text-shadow: 5px 5px #558ABB;
}
.text_e {
	color:#D0D0D0;
	font-size: 150%;
	text-shadow:1px 1px 2px blue, 0 0 1em blue, 0 0 0.2em blue;
}
.text_x {
	color:#E5E4E2;
	font-size: 125%;
}
.btn_new {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
	width: 145px;
    height: 70px;
	font-size: 24px;
	margin: 0 auto;
	display:block;
}

.btn_new:hover {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}
.bl {
  float: left;
  width: 150px;
  margin: 0 15px;
  background: #4682B4;
  padding: 50px 10px;
}
#did-whales-extinct {
	display:none;
}
.ut {
	text-align: center;
	font-size: 60px;
}
.number {
	font-size:25px;
}